[submodule "sources_non_forked/tagbar"]
	path = sources_non_forked/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "sources_non_forked/vim-interestingwords"]
	path = sources_non_forked/vim-interestingwords
	url = https://github.com/lfv89/vim-interestingwords.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/Valloric/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
